*.swp
*.swo
/.vs
/.*_localrc
/tags
/Debug
*.sdf
/x64
*.VC.opendb
*.TMP
/Tinge/x64
/Tinge/Debug
/output
*.psess
*.vsp
/src/x64
*.aux
*.pdf
*.log
*.toc
*.synctex.gz
*.out
.idea
*.pyc
.DS_Store
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
runtimes/tmp*
runtimes/task*
runtimes/*.exe
runtimes/*.dll
runtimes/Release
runtimes/Debug
runtimes/RelWithDebInfo
runtimes/*.png
build*/
bin/
tmp/
cmake-build-*
modules.txt
/external/lib
__pycache__
/outputs
*.ppm
*.png
*.jpg
!docs/**/*.jpg
!docs/**/*.png
.tlang_cache
/quadrants/common/version.h
/quadrants/common/commit_hash.h
/CHANGELOG.md
.vscode
_build
*.bin
*.gif
*.mp4
*.dat
*.ptx
*.ll
*.bc
*.hl
*.hdll
*.yml
!.github/**/*.yml
*.dot
*.json
!tests/**/*.json
!docs/**/*.json
!bindings/hashlink/haxelib.json
/quadrants-haxelib*.zip
imgui.ini
/venv/
.cache
.do-not-clean
*.dylib
*.ply
*.so
CHANGELOG.md
env.sh
